<nav class="bg-white shadow-lg">
    <div class=" mx-auto ">
        <div class="flex items-center justify-between h-16 ">
            <div class="flex-shrink-0 p-4">
                <img class="h-10 w-15" src="assets/logo.png" alt="Logo">
            </div>
            <div class="hidden md:block">
                <div class="flex items-baseline space-x-4">
                    <div class="text-gray-600 hover:text-gray-900 hover:bg-graybackground px-3 py-2 rounded-md text-sm font-medium flex space-x-2"><img src="assets/iconusergray.png"><a>NextoYoubers</a></div>
                    <div class="text-gray-600 hover:text-gray-900 hover:bg-graybackground px-3 py-2 rounded-md text-sm font-medium flex space-x-2"><img src="assets/iconrestaurant.png"> <a>Restaurants</a></div>
                    <div class="text-gray-600 hover:text-gray-900 hover:bg-graybackground px-3 py-2 rounded-md text-sm font-medium flex space-x-2"><img src="assets/icontaxi.png"> <a>Taxi& VTC</a></div>
                </div>
            </div>
            <div class="hidden md:block">
                <div class="flex items-center ">

                    <button type="button"
                        class="ml-2 border-solid border-2 border-blue-500 rounded-full p-2 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 flex items-center">

                        <svg class="h-6 w-6 text-gray-600" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                        <img class="h-8 w-8 rounded-full" src="assets/imageProfile.png" alt="Profile Picture">
                    </button>
                </div>
            </div>
        </div>
    </div>